@media only screen and (max-width: 800px) {
  html {
    font-size: 13px;
  }
}
@media only screen and (max-width: 700px) {
  html {
    font-size: 12px;
  }
}
@media only screen and (max-width: 600px) {
  footer .footer {
    display: flex !important;
    flex-direction: column;
  }
}
@media only screen and (max-width: 500px) {
  body {
    .introduction {
      h1 {
        display: none;
      }
    }
  }
  .upbar {
    .introduction {
      h1 {
        display: none;
      }
    }
  }
  .home-svg-section,
  .home-svg-section-reversed {
    flex-direction: column;
    h1 {
      transform: none;
      align-items: center;
      margin: 1rem;
    }
  }
  .home-svg-section-reversed h1:nth-of-type(1) {
    display: none;
  }
  .home-svg-section-reversed h1:nth-of-type(2) {
    display: flex;
  }
  .home-svg-wrapper svg,
  .home-svg-wrapper-2 svg,
  .home-svg-wrapper-3 svg {
    height: 13rem;
    width: 13rem;
  }
  //AboutPage
  .about-content {
    flex-direction: column;
    & > div:nth-of-type(1) {
      flex-basis: unset;
    }
    & > div:nth-of-type(2) {
      display: none;
      margin: 0;
      // background-color: black;
    }
    & > div:nth-of-type(3) {
      flex-basis: unset;
    }
  }
  .questions-section {
    padding: 1rem 0.3rem;
    .questions-page {
      grid-template-columns: none;
      grid-template-rows: max-content 1fr;
      .question-sort-filter {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        .questions-sort {
          order: 1;
        }
        & > div:nth-child(1) {
          order: 2;
        }
        & > div:nth-child(3) {
          order: 3;
        }
      }
    }
  }
  .guide-section {
    .guide-section-inner {
      div {
        span {
          font-size: 1.2rem;
        }
      }
    }
  }
  .guide-more-help {
    .guide-help-section {
      padding: 2rem;
    }
    .guide-help-section:nth-of-type(1) ul li span svg {
      width: 75px;
      height: 75px;
    }
  }
}
@media only screen and (max-width: 400px) {
  .guide-section {
    .guide-section-inner {
      div {
        span {
          font-size: 1.1rem;
        }
      }
    }
  }
  .guide-help-section {
    padding: 1rem;
  }
  .guide-help-section:nth-of-type(1) ul li span svg {
    width: 500px;
    height: 500px;
  }
}

@media only screen and (max-width: 300px) {
}

@media only screen and (max-width: 200px) {
}
